@font-face {
    font-family: AppBlack;
    src: url("./assets/fonts/Poppins-Black.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppBold;
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppExtraBold;
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppLight;
    src: url("./assets/fonts/Poppins-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppMedium;
    src: url("./assets/fonts/Poppins-Medium.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppRegular;
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppSemiBold;
    src: url("./assets/fonts/Poppins-SemiBold.ttf");
    font-display: swap;
}
@font-face {
    font-family: AppThin;
    src: url("./assets/fonts/Poppins-Thin.ttf");
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    font-family: AppRegular;
}

